.root {
    font-size: 1.4rem;

    h1 {
        margin-block: 1.6rem;
    }

    h2 {
        margin-block: 1.4rem;
    }

    p {
        margin-block: 1.2rem;
    }

    img {
        width: 100%;
    }

    code {
        color: rgb(199, 37, 78);
        background-color: rgb(249, 242, 244);
        border-radius: 4px;
    }
}
