.courseTable {
    width: 80%;
    table {
        font-size: 1.6rem;
    }

    tr {
        padding: 0.5rem;
        border: 1px solid #000;
    }

    td {
        border: 1px solid #000;
        padding: 0.5rem;
    }
}
