.header {
    padding: 2.0rem 4.0rem;
    background-color: #357bb7;

    &__links {
        display: flex;
        gap: 3.0rem;
        & > a {
            text-decoration: underline;
        }
    }

    &__container {
        display: flex;
        font-size: 1.5rem;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-size: 2.0rem;
    }
}

.vision {
    display: flex;
    align-items: center;
    gap: 1.0rem;
    & svg, button {
        font-size: 2.5rem;
    } 
}